quoting-CypressTK1/force-app/main/default/flows/AddPeriodsToQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddPeriodsToQuote</name>
        <label>Add Periods to Quote</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>QuotePeriodController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>numberOfPeriodsToAdd</name>
            <value>
                <elementReference>NumberOfPeriods</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>CurrentQuote.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timePeriod</name>
            <value>
                <elementReference>TimePeriods</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SetTimePeriodChoices</name>
        <label>Set Time Period Choices</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TimePeriod</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentQuote.TimePeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimePeriodsGroupMethod</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentQuote.TimePeriodsGroupMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddPeriodsHeader</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TimePeriodChoice</name>
        <choiceText>{!TimePeriod}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TimePeriod</elementReference>
        </value>
    </choices>
    <choices>
        <name>TimePeriodGroupMethodChoice</name>
        <choiceText>{!TimePeriodsGroupMethod}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TimePeriodsGroupMethod</elementReference>
        </value>
    </choices>
    <interviewLabel>Add Periods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Periods To Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CurrentQuote</name>
        <label>Current Quote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTimePeriodChoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddPeriodsHeader</name>
        <label>Add periods</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddPeriodsToQuote</targetReference>
        </connector>
        <fields>
            <name>AddPeriodsHeader_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddPeriodsHeader_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberOfPeriods</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of periods</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage
						>&lt;p&gt;{!$Label.ErrorAddPeriodsPmax}&lt;/p&gt;</errorMessage>
                        <formulaExpression
						>({!NumberOfPeriods} + {!numOfQuotePeriods}) &lt;= 468</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TimePeriods</name>
                    <choiceReferences>TimePeriodChoice</choiceReferences>
                    <choiceReferences>TimePeriodGroupMethodChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose a time period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddPeriodsHeader_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CurrentQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numOfQuotePeriods</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for saving the value from TimePeriod__c</description>
        <name>TimePeriod</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
		>Variable for saving the field value from TimePeriodsGroupMethod__c</description>
        <name>TimePeriodsGroupMethod</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
